<div class="row" style="background-color:#EEE; margin:0px;">
<div class="col s12 offset-m3 m6 offset-l3 l6" style="height:620px">
<div class="card z-depth-0" style="width:80%; padding:25px; margin:40px; text-align:left; background:#FFF; height:80%;" >

<div class="center" style="font-weight:bold; color:#818181; "><i class="material-icons" style="font-size:4rem;">person_pin</i></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" style="margin:30px;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style="margin:30px;">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" style="margin:35px; font-size:1rem;">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
  <div class="row center">
  <div class="col s12 m12 l12">
    <%= f.submit "サインイン" ,class:"btn" ,style:"margin:0px 0 0 0; padding:-10px 10px 10px 10px; "%>
  </div>
  </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>

