<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<%= display_meta_tags({
        :title => "" ,
        :site => ('Andog(犬の動画、犬の種類・知識、犬用品の選び方など)') ,
        :description => '犬に関する総合ウェブマガジン',
        :keywords => '犬,犬の動画, 犬種',
        :open_graph => {
           :title => 'Andpg',
           :url   => root_url ,
        },
       :twitter => {
            :card => 'dog',
            :site => '@andog'
        } ,
       :viewport => "width=device-width, initial-scale=1.0" ,
       :reverse => true
    })
%>
<meta name="description" content="
          " />

<link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="description"  content="犬選びは、犬のすべてをご紹介！犬の基礎知識、歴史、選び方、種類、健康、道具など犬に関する事であれば、どのような事でも記載しているブック（本）としてサイト名を「犬選び」と名付けました。" />

</head>

<div class="navbar z-depth-0">
<nav style="margin:15px 0 15px 0;" class="z-depth-0">
    <div class="nav-wrapper" style="background-color:#FFF;">

<%= search_form_for @search do |f| %>
<div class="left input-field " style="margin:13px 0px 0 17%; width:15%; height:40px;  border:1px solid #CCC; border-radius:39px; line-height:3rem;">
<%= f.text_field :title_cont, placeholder: 'キーワードを入力', :class=>"" ,:type=>"search",:id=>"search",:required=>"true"%>
<label for="search"><i class="material-icons" style="line-height:3rem;">search</i></label>
<i class="material-icons" style="line-height:3rem;">close</i>
</div>
<% end %>


<%= link_to "Andog",dogs_path ,{ :'data-no-turbolink' =>  "true" ,:style => "
font-family: 'Homemade Apple', cursive;
font-weight:800; font-size:3rem;
height:1.7rem; color:#333; margin:0 0 0 14%;" ,:class =>"" } %>


<!-- 
    <div class="left input-field white" style="margin:13px 0px 0 17%; width:15%; height:40px;  border:1px solid #CCC; border-radius:39px; line-height:3rem;">
      <input id="search" type="search" required>
      <label for="search"><i class="material-icons" style="line-height:3rem;">search</i></label>
      <i class="material-icons" style="line-height:3rem;">close</i>
    </div>
 -->
      <!-- </div> -->
    <ul class="right hide-on-med-and-down" style="height:60px; padding:0 16% 0 0;">
        <li style="margin:0 0 0 0rem;"><a href="collapsible.html" style="font-size:1.1rem; color:#339933; border-left:1px #EEE solid; border-right:1px #EEE solid">Andogとは</a></li>

<!--         <li style="margin:0 0 0 0rem;"><a href="mobile.html" style="font-size:1.1rem; color:#339933; border-right:1px #EEE solid;">無料会員登録</a></li>
        <li style="margin:0 0 0 0rem;"><a href="mobile.html" style="font-size:1.1rem; color:#339933; border-right:1px #EEE solid;">ログイン</a></li>
 -->

<% if user_signed_in? %>
<!-- サインイン状態スタート -->
      <ul class="right hide-on-med-and-down">
        <li style="margin:0 0 0 0rem;">
        <li><%= link_to "お気に入り",user_path(current_user.id),{:'data-no-turbolink' =>  "true",:class =>'nav_menu'} %></li>
        <li><%= link_to "ログアウト",destroy_user_session_path,{:class =>'nav_menu', :method =>:get } %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "お気に入り",user_path(current_user.id),{:'data-no-turbolink' =>  "true",:class =>'black-text'} %></li>
        <li><%= link_to "ログアウト",destroy_user_session_path,{:class =>'black-text', :method =>:get } %></li>
      </ul>
    </div>
</nav>
</div>

<%else%>
<!-- サインアウト状態スタート -->

        <ul class="right hide-on-med-and-down">
          <li style="margin:0 0 0 0rem;"><%= link_to "無料会員登録",new_user_registration_path,{ :'data-no-turbolink' =>  "true",:class =>'nav_menu',:style =>''} %></li>
          <li style="margin:0 0 0 0rem;"><%= link_to "ログイン",user_session_path,{ :'data-no-turbolink' =>  "true",:class =>'nav_menu',:style =>''} %></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to "ログイン",user_session_path,{ :'data-no-turbolink' =>  "true"} %></li>
          <li><%= link_to "犬の選び方",choice_path,{ :'data-no-turbolink' =>  "true"} %></li>
          <li><a href="goods.html">犬の迎え入れ方</a></li>
          <li><a href="contact.html">お問い合わせ</a></li>
        </ul>

    </ul>
    </div>
</nav>
<% end %>
<!-- navバーのセッションによる切り替え処理を終了 -->

<% if notice %>
<div class="row center" style="background-color:#EEE; margin:0px;">
  <div class="col s12">
    <p class="alert alert-notice"><%= notice %></p>  
  </div>
</div>
<% end %>

<% if alert %>
<div class="row">
  <div class="col s12">
    <p class="alert alert-error"><%= alert %></p>  
  </div>
</div>
<% end %>

<%= yield %>

</body>

<a href="#" class="page-top">上に戻る　▲</a>

<footer class="center white-text" style="background-color:#CCC;">
            Copyright © 犬選び 2015 All Rights Reserved.
            <% if user_signed_in? %>
            <% else %>
            <% end %>

</footer>

<script>
$(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
  $('.slider').slider({full_width: true});
  $(".button-collapse").sideNav();
  $('.parallax').parallax();
  $('.tooltipped').tooltip({delay: 50});
  $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
  });
  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
  });
});
</script>

<script type="text/javascript">
$(function() {
    var pageTop = $('.page-top');
    pageTop.hide();
    $(window).scroll(function () {
        if ($(this).scrollTop() > 600) {
            pageTop.fadeIn();
        } else {
            pageTop.fadeOut();
        }
    });
    pageTop.click(function () {
        $('body, html').animate({scrollTop:0}, 500, 'swing');
        return false;
    });
});
</script>


</body>
</html>